<%- include("partials/header") %>
<h1>Product Management System</h1>
<a href="/category">View Categories</a>|
<a href="/subCategory">View Categories</a>|
<a href="/product">View Products</a>
<%- include("partials/footer") %>
